@model AdminEmployeesViewModel
@{}

<ul>
    @foreach (var employee in Model.Employees)
    {
        <li>
            <div>
                <p>@employee.FirstName @employee.LastName</p>
                <p>@employee.Position</p>
                <p>@employee.Email</p>
                <p>@employee.Phone</p>
            </div>
            <a class="btn btn-warning" asp-action="editEmployee" asp-route-employeeid="@employee.EmployeeID">Edit</a>
        </li>
    }
</ul>
